td {
  padding: 0.2rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: lightslategray;
}

.chosen {
  background-color: wheat;
  text-decoration: underline;
}

table {
  padding: 0.5rem;
  margin: 0.5rem;
  border-width: 0.5rem;
  border-style: double;
  border-color: darkslategrey;
}
